*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: burlywood;
}

img{
cursor : pointer;
}

nav{
    display: flex;
    align-items: center;
}